@import url('https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps|Roboto|Yeseva+One');

body {
    background-color: #131313;
    width: 100%;
    /*background: url('background.jpg') no-repeat center center fixed ;*/
    /*background-size: cover;*/
    /*height: 100vh;*/
}

hr {
    color: white;
    margin: 1em 45% 0em;
}
.page1 {
    margin-top: 30vh;
    padding-bottom: 50vh;
}
.neon {
    display: flex;
    justify-content:center;
    align-items:center;
    font-family: 'Oleo Script Swash Caps', cursive;
    color: #FB4264;
    font-size: 9vw;
    line-height: 9vw;
    text-shadow: 0 0 3vw #F40A35;
}

.neon:hover {
    color: #fb738f;
    transition: 0.3s ease-in-out;
}

.description {
    text-align: center;
    font-size: 3vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    font-family: 'Roboto', sans-serif;
    color: #d6d6d6;
}

.wrapper {
    background-color: #252525;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.project {
    display: flex;
    margin: 1.5vw;
    align-self: center;
    width: 25vw;
    height: 25vw;
    background-image: url("coding.jpg");
    background-size: cover;
}

/*.project img {*/
    /*width: 100%;*/
    /*border-radius: 10px;*/
/*}*/

/*.wrapper {*/
    /*padding-top: 0;*/
    /*text-align: center;*/
    /*color: #131313;*/
/*}*/
/*._button{*/
    /*display:inline-block;*/
    /*padding:0.3em 1.2em;*/
    /*margin:0 0.3em 0.3em 0;*/
    /*border-radius:2em;*/
    /*box-sizing: border-box;*/
    /*text-decoration:none;*/
    /*color:#FFFFFF;*/
    /*background-color: #ff4a4d;*/
    /*text-align:center;*/
    /*transition: all 0.2s;*/
    /*font-size: 2em;*/
/*}*/

/*._button:hover{*/
    /*background-color: #dc4143;*/
/*}*/