@import url('https://fonts.googleapis.com/css?family=Raleway:400i,500,700');

body {
    background-color: #f8f8f8;
    width: 100%;
}

hr {
    background-color: #ff375a;
    border-width: 0;
    height: 10px;
    margin: 1vh 85vw 0 0vw;

}
.page1 {
    margin-top: 22vh;
    padding-bottom: 50vh;
    margin-left: 4vw;

}
.neon {
    display: flex;
    justify-content:left;
    align-items:left;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #131313;
    font-size: 9vw;
    line-height: 9vw;
}

.topic {
    font-size: 1.5em;
    margin-bottom: 0.5vh;
    font-family: 'Raleway', sans-serif;
    font-style: italic;
}

.description {
    margin-top: 1.5vh;
    margin-right: 50vw;
    text-align: left;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    align-items:left;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: #8a8a8a;
}
.description p {
    margin-top: 0;
}

.project {
    display: flex;
    margin: 1.5vw;
    align-self: center;
    width: 25vw;
    height: 25vw;
    background-image: url("coding.jpg");
    background-size: cover;
}

.btns {
    display: flex;
    align-items: flex-start;
}

#gitBtn img{
    width: 40px;
    height: 40px;
    margin-left: 2vh;
}

._button{
    margin-top: 0;
    font-size: 15px;
    padding: 0.5em;
    border: 2px solid #ff375a;
    border-radius: 1vw;
    font-family: 'Raleway', sans-serif;
    color: #ff375a;
    alignment: top;
    text-decoration: none;
}

._button:hover{
    background-color: #ff375a;
    color: white;
}

.page2 {
    height: 100vh;
    font-family: 'Raleway', sans-serif;
}
.projects {
    display: flex;
    flex-direction: row;
    padding-top: 2vh;
}
.projects img {
    margin-left: 0;
    width: 500px;
    height: 250px;
}
.projects h1 {
    margin-bottom: 0;
}
.projects div {
    margin-left: 3vw;
    margin-right: 10%;
}
.sticky {
    position: -webkit-sticky;
    position: sticky;
    padding-left: 3vw;
    padding-bottom: 2vh;
    top: 0;
    background: linear-gradient(white, rgba(0,0,0,0));
    background: -webkit-linear-gradient(white, rgba(0,0,0,0));
}
#Proj-title {
    font-size: 7vw;
}
#contact {
    margin: 10%;
    text-align: center;
}